<html ng-app="myApp">
<title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="css/general.css" rel="stylesheet">
</title>
<body ng-controller="myCtrl">

    <input type="button" value="test" ng-click="test()" />

    <script src="js/angular.min.js"></script>
    <script src="js/angular-cookies.min.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/restangular.min.js"></script>

    <script>
        var myApp = angular.module("myApp",['RestLeo']);

        myApp.config(function(RestLeoProvider) {
             RestLeoProvider.setBaseUrl("http://localhost:8000/authApp/data");
             RestLeoProvider.setRequestSuffix('\/');
        });

        myApp.controller("myCtrl", function($scope, RestLeo){
            $scope.test = function(){
                console.log("Test");
                console.log(RestLeo.getUser());
                console.log(RestLeo.getUserId())
                console.log(RestLeo.getToken());
                console.log(RestLeo.get("user",
                        function(data){console.log(data)},function(data){console.log(data)}));

            };

        });



        var myRest = angular.module("RestLeo",['ngCookies']);
        myRest.provider('RestLeo', function(){
            this.baseUrl = "";
            this.requestSuffix = "";

            this.setBaseUrl = function(baseUrl){
                this.baseUrl = baseUrl;
            }

            this.setRequestSuffix = function(sufix){
                this.requestSuffix  = sufix;
            }

            this.$get = function($http, $cookies){
                var baseUrl = this.baseUrl;
                var user = "";
                var userId = -1;
                var token = "18b0232c67afcb1b4a1ed23c4e022df07b50d2a8";
                var isAuthenticated = false;
                var requestSuffix = this.requestSuffix;

                function send(method, path, authenticate){
                    var headers = {};

                    //Build URL
                    var url = baseUrl + "/" + path + requestSuffix;

                    //Get CSRFToken if exists and create the header field
                    var csrftoken = $cookies.csrftoken;
                    if (csrftoken != null || csrftoken!='') headers['X-CSRFToken'] = csrftoken;

                    //Set Credentials
                    if (authenticate) headers['Authorization'] = "Token " + token

                    $http({method: method, url: url, headers:headers}).
                            success(function(data, status, headers, config) {
                               // okFunc(data);
                            }).
                            error(function(data, status, headers, config) {
                               // errFunc(data);
                            });
                }


                return {
                    getUser: function(){

                        return user;
                    },

                    getUserId: function(){
                        return userId;
                    },

                    getToken: function(){
                        return token;
                    },

                    authenticate: function(login, password){
                        return -1; // or user id if ok
                    },

                    deauthenticate: function(){
                        return -1; // or 0 if ok
                    },

                    isAutenticate: function(){
                        return isAutenticate;
                    },

                    get: function(path, okFunc, errFunc){
                        send("POST","auth", true)
                        return -1; // or 0 if ok
                    },

                    del: function(path, okFunc, errFunc){
                        return -1; // or 0 if ok
                    },

                    put: function(path, payload, okFunc, errFunc){
                        return -1; // or 0 if ok
                    },

                    post: function(path, payload, okFunc, errFunc){
                        return -1; // or 0 if ok
                    },

                    getAuth: function(path, okFunc, errFunc){
                        if (!isAuthenticated) throw "not authenticated"
                        return -1; // or 0 if ok
                    },

                    delAuth: function(path, okFunc, errFunc){
                        if (!isAuthenticated) throw "not authenticated"
                        return -1; // or 0 if ok
                    },

                    putAuth: function(path, payload, okFunc, errFunc){
                        if (!isAuthenticated) throw "not authenticated"
                        return -1; // or 0 if ok
                    },

                    postAuth: function(path, payload, okFunc, errFunc){
                        if (!isAuthenticated) throw "not authenticated"
                        return -1; // or 0 if ok
                    }


                }
            }
        });




    </script>

</body>

</html>