<!DOCTYPE html>
<html ng-app="appUser">
<head>
    <title>User Management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="css/general.css" rel="stylesheet">

</head>
<body>
    <div id="content" ng-controller="myControl">
      <legend> Login:</legend>

      <form name="loginForm" class="form-horizontal" ng-submit="signUp()" novalidate>
        <div class="alert alert-error" ng-show="validation.msg!=null && validation.msg!=''" ng-bind-html-unsafe=validation.msg></div>
        <div class="control-group">
            <label class="control-label error-{{validation.email}}" for="inputEmail">Email</label>
            <div class="controls">
                <input type="email" name="inputEmail" ng-model="user.email" placeholder="Email" maxlength="50" required>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label error-{{validation.password}}" for="inputPassword">Password</label>
            <div class="controls">
                <input type="password" name="inputPassword" ng-model="user.password" placeholder="Password (6 or more characters)"  maxlength="20" ng-Minlength="6" required>
                <span class="error" ng-show="loginForm.inputPassword.$error.minlength">&nbsp;Too short!</span>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input class="btn-primary" type="submit" value="Enter">
            </div>
        </div>

      </form>
    </div>
</body>

<script src="js/angular.min.js"></script>
<script src="js/angular-cookies.min.js"></script>
<script src="js/underscore.js"></script>
<script src="js/restangular.min.js"></script>




<script>
    appUser = angular.module("appUser",['restangular','ngCookies']);

    appUser.config(function(RestangularProvider) {
             RestangularProvider.setBaseUrl("http://localhost:8000/authApp/data");
             RestangularProvider.setRequestSuffix('\/');
        });


    appUser.controller('myControl', function($scope, Restangular, $cookies){
        $scope.user={}

        $scope.signUp = function(){
            //Validation
            $scope.validation={};
            $scope.validation.msg="";
            if($scope.loginForm.$invalid){
                if ($scope.loginForm.inputEmail.$invalid){
                    $scope.validation.email=true;
                    $scope.validation.msg += "- You need to provide a valid email<BR/>"
                }
                if ($scope.loginForm.inputPassword.$invalid){
                    $scope.validation.password=true;
                    $scope.validation.msg += "- You need to provide a valid password<BR/>"
                }
                return
            }

            if($scope.loginForm.$valid){
                content = {'Content-Type': 'application/json'}

                var csrftoken = $cookies.csrftoken;
                console.log(csrftoken)
                if (csrftoken != null || csrftoken!='') content['X-CSRFToken'] = csrftoken;

                console.log(content);
                $scope.userSrv = Restangular.all('login').post($scope.user,'',content).then(
                        function(rsp){
                            console.log("ID: " + rsp.id);
                            console.log(rsp);
                            alert("OK")
                        },
                        function(rsp){
                            console.log("Error");
                            console.log(rsp);
                            if (rsp.status==404)
                                alert ("Email/Password incorrect")
                            else
                                alert("Error");
                        });
        }


    }});
</script>

</html>